@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif !important;
}

.container {
  flex: 1;
}

img {
  max-width: 250px !important;
  &.circle {
    border-radius: 100% !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &.border {
    border: 2px solid black !important;
  }
  &.center {
    display: block;
    margin: 0 auto;
  }
  &.profile {
    width: 75px;
  }
  &.bubble-pic {
    position: absolute;
    right: 15em;
    top: 16em;
  }
  &.dog-img {
    min-width: 309px;
    max-width: 309px;
    min-height: 420px;
    max-height: 420px;
  }
}

h1 {
  margin-top: 1em !important;
  margin-bottom: 0.5em !important;
}

p {
  &.txt-info {
    max-width: 600px !important;
    display: block;
    margin: 0 auto !important;
  }
  &.question {
    font-size: 16px !important;
    margin-bottom: 0.5em !important;
    margin-top: 2em !important;
  }
  &.bold {
    font-weight: 600;
  }
  &.left {
    float: left;
  }
  &.right {
    float: right;
  }
  &.consent {
    max-width: 40em;
    margin: 0 auto;
    text-align: left !important;
  }
  &.center {
    text-align: center;
    position: relative;
    bottom: -15px;
  }
  &.hidden {
    display: none;
  }
  &.emp {
    font-weight: 600;
    color: #0d6efd;
  }
  &.no-top {
    margin-top: 0 !important;
  }
}

label {
  &.bold {
    font-weight: 500;
  }
}

a {
  display: block !important;
  max-width: 250px !important;
  &.center {
    margin: 2em auto !important;
  }
  &.hidden {
    display: none !important;
  }
  &.inline {
    display: inline !important;
  }
  &.back {
    margin-top: 1.25em !important;
    margin-bottom: 5em;
    min-width: 7em;
  }
  &.visible {
    display: inline-block !important;
  }
}

div {
  &.w-280 {
    width: 280px;
  }
  &.center {
    margin: 0 auto;
  }
  &.explanation {
    display: flex;
    flex-direction: row;
    max-width: 700px;
    justify-content: space-between;
  }
  &.doel {
    margin-right: 25px;
  }
  &.onderzoek {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
  }
  &.form-container {
    display: flex !important;
    flex-direction: column !important;
    margin-bottom: 1.5em !important;
  }
  &.cards-container {
    display: flex !important;
    justify-content: space-around !important;
  }
  &.radio-container {
    margin-bottom: 0.25em !important;
  }
  &.importance-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
    width: 420px;
    padding: 0.5em;
  }
  &.range-slider {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
  }
  &.sp-bw {
    justify-content: space-between !important;
  }
  &.consent-container {
    margin: 1em auto !important;
  }
  &.consent-checkbox-container {
    display: flex;
    flex-direction: column;
  }
  &.footer-row {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &.card {
    flex-grow: 1;
    margin-bottom: 3em;
    max-width: 310px;
    padding: 0;
  }
  &.img-container {
    min-height: 420px;
  }
  &.satisfaction-question-container {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    --bs-gutter-x: 0 !important;
  }
  &.flex {
    display: flex;
    align-items: center;
  }
  &.satisfaction-container {
    background-color: #d08e1275;
    padding: 1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    // padding: 0 10em;
  }
  &.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    // background-color: #d08e1220;
    // padding: 0 10em;
  }
}

input[type='range'] {
  max-width: 280px !important;
}

button {
  &.submit {
    margin-bottom: 5em !important;
  }
  &.final {
    margin-top: 1.25em !important;
    margin-bottom: 5em;
    min-width: 7em;
  }
  &.right {
    float: right;
    margin-right: 1em;
  }
  &.btnm {
    width: 100%;
  }
  &.hidden {
    display: none !important;
  }
}

.float-left {
  float: left !important;
}

footer {
  background-color: rgb(31, 31, 31);
  color: #fff;
  min-height: 125px;
  padding: 2em;
  a {
    display: inline !important;
    color: #78aee4;
    &:visited {
      color: #78aee4;
    }
    &:hover {
      color: #78aee4;
    }
  }
}

span {
  &.emp {
    color: #78aee4;
    font-weight: bold;
  }
  &.bold {
    font-weight: bold;
  }
}

#consent {
  margin-right: 0.25em;
}

@media only screen and (max-width: 600px) {
  div {
    &.satisfaction-container {
      padding: 1em;
    }
    &.importance-container-center {
      align-items: center;
    }
    &.btn-container {
      padding: 0 0.25em;
    }
  }
}
